<?xml version="1.0"?>
<config>
    <modules>
        <Olegnax_Osc>
            <version>1.0.08</version><platform>ce</platform>
        </Olegnax_Osc>
    </modules>
    <global>
        <blocks>
            <olegnax_osc>
                <class>Olegnax_Osc_Block</class>
            </olegnax_osc>
        </blocks>
        <models>
            <olegnax_osc>
                <class>Olegnax_Osc_Model</class>
            </olegnax_osc>
            <customer>
                <rewrite>
                    <form>Olegnax_Osc_Model_Customer_Form</form>
                    <address>Olegnax_Osc_Model_Customer_Address</address>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <quote_address>Olegnax_Osc_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <olegnax_osc>
                <class>Olegnax_Osc_Helper</class>
            </olegnax_osc>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_olegnax_appearance>
                <observers>
                    <olegnax_osc_system_config_changed_section>
                        <type>singleton</type>
                        <class>olegnax_osc/observer</class>
                        <method>configChanged</method>
                    </olegnax_osc_system_config_changed_section>
                </observers>
            </admin_system_config_changed_section_olegnax_appearance>
			<!--HACK FOR OSC CONFIGURATION RESET/DOWNLOAD BEGIN-->
			<admin_system_config_changed_section_olegnax_osc>
                <observers>
                    <olegnax_osc_system_config_changed_section>
                        <type>singleton</type>
                        <class>olegnax_osc/observer</class>
                        <method>mainConfigChanged</method>
                    </olegnax_osc_system_config_changed_section>
                </observers>
            </admin_system_config_changed_section_olegnax_osc>
			<!--HACK FOR OSC CONFIGURATION RESET/DOWNLOAD END-->
            <core_block_abstract_to_html_after>
                <observers>
                    <olegnax_osc_block_html_after>
                        <type>singleton</type>
                        <class>olegnax_osc/observer</class>
                        <method>afterHtml</method>
                    </olegnax_osc_block_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <olegnax_osc>
                                            <title>Olegnax Osc</title>
                                        </olegnax_osc>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Olegnax_Osc>
                    <files>
                        <default>Olegnax_Osc.csv</default>
                    </files>
                </Olegnax_Osc>
            </modules>
        </translate>
        <routers>
            <olegnax_osc>
                <use>standard</use>
                <args>
                    <module>Olegnax_Osc</module>
                    <frontName>olegnax_osc</frontName>
                </args>
            </olegnax_osc>
        </routers>
        <layout>
            <updates>
                <osc_settings>
                    <file>osc_settings.xml</file>
                </osc_settings>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <secure_url>
            <onestepcheckout_index>/onestepcheckout/index</onestepcheckout_index>
            <onestepcheckout_ajax>/onestepcheckout/ajax</onestepcheckout_ajax>
        </secure_url>
        <layout>
            <updates>
                <olegnax_osc_ebizmarts_sagepay module="Ebizmarts_SagePaySuite">
                    <file>olegnax_osc/payment/ebizmarts_sagepay.xml</file>
                </olegnax_osc_ebizmarts_sagepay>
                <olegnax_osc_netresearch_ops module="Netresearch_OPS">
                    <file>olegnax_osc/payment/netresearch_ops.xml</file>
                </olegnax_osc_netresearch_ops>
                <olegnax_osc>
                    <file>olegnax_osc.xml</file>
                </olegnax_osc>
            </updates>
        </layout>
        <routers>
            <olegnax_osc>
                <use>standard</use>
                <args>
                    <module>Olegnax_Osc</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </olegnax_osc>
        </routers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <olegnax_osc_checkout_cart_add_complete>
                        <type>singleton</type>
                        <class>olegnax_osc/observer</class>
                        <method>addCompleteCC</method>
                    </olegnax_osc_checkout_cart_add_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_predispatch_checkout>
                <observers>
                    <olegnax_osc_checkout_controller_predispatch>
                        <type>singleton</type>
                        <class>olegnax_osc/observer</class>
                        <method>predispatchCheckout</method>
                    </olegnax_osc_checkout_controller_predispatch>
                </observers>
            </controller_action_predispatch_checkout>
            <checkout_submit_all_after>
                <observers>
                    <olegnax_osc_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>olegnax_osc/observer</class>
                        <method>submitAll</method>
                    </olegnax_osc_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
            <core_layout_update_updates_get_after>
                <observers>
                    <olegnax_osc_core_layout_update_updates_get_after>
                        <class>olegnax_osc/observer</class>
                        <method>getUpdatesAfter</method>
                    </olegnax_osc_core_layout_update_updates_get_after>
                </observers>
            </core_layout_update_updates_get_after>            
            <controller_action_postdispatch_olegnax_osc_ajax_confirmOrder>
                <observers>
                    <olegnax_osc_osc_confirmorder_controller_postdispatch>
                        <class>olegnax_osc/observer</class>
                        <method>postdispatchAjaxPlaceOrder</method>
                    </olegnax_osc_osc_confirmorder_controller_postdispatch>
                </observers>
            </controller_action_postdispatch_olegnax_osc_ajax_confirmOrder>            
            <core_layout_block_create_after>
                <observers>
                    <olegnax_osc_core_layout_block_create_after>
                        <class>olegnax_osc/observer</class>
                        <method>createOnestepcheckoutAfter</method>
                    </olegnax_osc_core_layout_block_create_after>
                </observers>
            </core_layout_block_create_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <olegnax_osc_block_html_after>
                        <type>singleton</type>
                        <class>olegnax_osc/observer</class>
                        <method>frontendBlockHtmlAfter</method>
                    </olegnax_osc_block_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <Olegnax_Osc>
                    <files>
                        <default>Olegnax_Osc.csv</default>
                    </files>
                </Olegnax_Osc>
            </modules>
        </translate>
    </frontend>
    <default>
        <olegnax_osc>
            <general>
                <is_enabled>1</is_enabled>
                <redirect_to>0</redirect_to>
                <is_use_billing_as_shipping>0</is_use_billing_as_shipping>
                <title>One Step Checkout</title>
                <description>Please enter your details below to complete your purchase.</description>                
                <default_payment_method></default_payment_method>
                <default_shipping_method></default_shipping_method>
                <is_cart_editable>0</is_cart_editable>
                <display_apply_coupon_button>0</display_apply_coupon_button>
            </general>
            <exclude_include_fields>
                <country>1</country>
				<region>1</region>
                <postcode>1</postcode>
                <city>1</city>
                <street_line1>1</street_line1>
                <is_telephone>1</is_telephone>
                <is_company>1</is_company>
                <is_fax>1</is_fax>
                <is_coupon>1</is_coupon>
                <is_comments>1</is_comments>
                <is_newsletter>1</is_newsletter>                
            </exclude_include_fields>
            <required_fields>
               <!-- <country>1</country>-->				
                <postcode>1</postcode>
                <city>1</city>
                <street>1</street>
                <telephone>1</telephone>
                <fax>1</fax>
                <company>1</company>
                <vat_id>1</vat_id>
            </required_fields>
            <sortordering_fields>
                <customer_name>1</customer_name>
                <email>5</email>
                <telephone>13</telephone>
                <street>8</street>
                <country_id>9</country_id>
                <region_id>10</region_id>
                <city>12</city>
                <postcode>11</postcode>
                <company>6</company>
                <fax>14</fax>
                <taxvat>4</taxvat>
                <vatid>7</vatid>
                <dob>3</dob>
                <gender>2</gender>
            </sortordering_fields>
            <block_columns>
                <billing_address>1</billing_address>
                <shipping_address>1</shipping_address>
                <shipping>2</shipping>
                <payment>2</payment>
                <giftcard>2</giftcard>
                <review>3</review>
                <totals>3</totals>
            </block_columns>
            <block_ordering>
                <billing_address>1</billing_address>
                <shipping_address>2</shipping_address>
                <shipping>3</shipping>
                <payment>4</payment>
                <giftcard>5</giftcard>
                <review>6</review>
                <totals>7</totals>
            </block_ordering>
            <frontend>
                <enable_responsive>1</enable_responsive>
                <columns_count>columns_3</columns_count>
            </frontend>
            <geoip>
                <enable>0</enable>
            </geoip>


        </olegnax_osc>

       <olegnax_appearance>
            <skin>
                <skin>athlete</skin>
            </skin>
            
                    <general_app>
                        <page_background_color>ffffff</page_background_color>
                        <page_title_background_color>ffffff</page_title_background_color>
                        <page_title_color>000000</page_title_color>
                        <page_title_fontsize>46</page_title_fontsize>
                        <page_title_fontweight>800</page_title_fontweight>
                        <page_title_font>2</page_title_font>
                        <page_title_gfont>Open Sans</page_title_gfont>
                    </general_app>

                    <title_app>
                        <title_background_color>f8f8f8</title_background_color>
                        <title_font_color>000000</title_font_color>
                        <title_fontsize>20</title_fontsize>
                        <title_fontweight>800</title_fontweight>
                        <title_font>2</title_font>
                        <title_gfont>Open Sans</title_gfont>
                        <title_icons>disabled</title_icons>
                        <title_align>left</title_align>
                        <title_icon_pos>0</title_icon_pos>
                    </title_app>

                    <content_app>
                        <content_blocks_background_color>f8f8f8</content_blocks_background_color>
                        <content_blocks_border_color>000000</content_blocks_border_color>
                        <content_blocks_border_width>0</content_blocks_border_width>
                        <content_inputs_border_color>dfdfdf</content_inputs_border_color>
                        <content_divider_color>e7e7e7</content_divider_color>
                        
                        <content_title_divider_color>ffe51e</content_title_divider_color>
                        <content_title_border_width>6</content_title_border_width>                        
                        
                        <content_font_color>322c29</content_font_color>
                        <content_fonts>default</content_fonts>
                        <content_fontsize>12</content_fontsize>
                        <content_price_fontsize>14</content_price_fontsize>
                        
                        <content_link_color>000000</content_link_color>
                        <content_hoverlink_color>ffffff</content_hoverlink_color>
                        
                        <content_button_color>ffe51e</content_button_color>
                        <content_hoverbutton_color>000000</content_hoverbutton_color>
                        <content_button_text_color>000000</content_button_text_color>
                        <content_button_hover_text_color>ffffff</content_button_hover_text_color>                        
                        <content_button_color_inversion>0</content_button_color_inversion>
                        <content_button_style>0</content_button_style>
                        
                        <content_qty_button_color>000000</content_qty_button_color>
                        <content_qty_hoverbutton_color>ffe51e</content_qty_hoverbutton_color>
                        <content_qty_button_color_inversion>1</content_qty_button_color_inversion>                       
                        
                        <content_price_color>000000</content_price_color>
                        <content_discount_price_color>699a00</content_discount_price_color>
                        <content_special_price_color>000000</content_special_price_color>
                    </content_app>

                    <place_order_app>
                        <place_order_fontsize>12</place_order_fontsize>
                        <place_order_background_color>f2f2f2</place_order_background_color>
                       
                        <place_order_button_color>ffe51e</place_order_button_color>
                        <place_order_button_hover_color>000000</place_order_button_hover_color>
                        <place_order_button_text_color>000000</place_order_button_text_color>
                        <place_order_button_hover_text_color>ffffff</place_order_button_hover_text_color>
                                                
                        <place_order_block_border_color>000000</place_order_block_border_color>
                        <place_order_block_border_width>0</place_order_block_border_width>
                        
                        <place_order_grandtotal_fontsize>18</place_order_grandtotal_fontsize>
                        <place_order_grandtotal_font_color>000000</place_order_grandtotal_font_color>                        
                    </place_order_app>
            

        </olegnax_appearance>


    </default>
</config>